
body {
  background: rgb(61, 176, 250);
}

.homeContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .logoContainer {
    margin-top: 50px;

    img {
      height: 120px;
      width: 400px;
    }


  }

  .inputContainer {
    margin: 50px;

    input {
      border-radius: 5px;
      border-color: rgb(69, 107, 180);
      height: 25px;
      width: 250px;
      font-size: 18px;
      padding: 5px;
    }
  }

}


