
body {
  background: rgb(61, 176, 250);
}

.logoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  img {
    height: 120px;
    width: 400px;
  }

}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
}
