
body {
    background: rgb(61, 176, 250);
}

.pokeTestLogoContainer {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
        height: 120px;
        width: 400px;
    }
}
